.main {
  flex: 1;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;

  .imageContainer {
    width: 100%;
    height: inherit;
    overflow: hidden;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px 10px #7e7d7db2;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
